DATABASE_URL="postgresql://postgres:postgres@localhost:5433/orders_db?schema=public"
PORT=4004
CART_SERVICE_URL="http://localhost:4003"
AWS_REGION="us-east-1"
AWS_ENDPOINT_URL="http://localhost:4566"
ORDER_CREATED_TOPIC_ARN="arn:aws:sns:us-east-1:000000000000:local-orders-order-placed-topic"
