DATABASE_URL="postgresql://postgres:postgres@localhost:5433/notifications_db?schema=public"
PORT=4006
AWS_REGION="us-east-1"
AWS_ENDPOINT_URL="http://localhost:4566"
EMAIL_QUEUE_URL="http://sqs.us-east-1.localhost.localstack.cloud:4566/000000000000/local-email-order-placed-queue"
