DATABASE_URL="postgresql://postgres:postgres@localhost:5433/products_db?schema=public"
PORT=4002
AWS_REGION="us-east-1"
AWS_ENDPOINT_URL="http://localhost:4566"
PRODUCT_CHANGED_TOPIC_ARN="arn:aws:sns:us-east-1:000000000000:local-products-product-changed-topic"
